html {
    width: 100%;
    height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
}
@media only screen and (max-width: 500px ){
    html{
        font-size: .8em;
    }
}
@media only screen and (max-width: 400px){
    html{
        font-size: .4em;
    }
}
@media only screen and (max-width: 200px){
    html{
        font-size: .3em;
    }
}
.head_container {
    display : grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr .5fr;
}

.name_pnl {
    display : flex;
    flex-direction: column;
    justify-content: flex-end;
}

.name_pnl > div h1 {
    margin: 0px 0px 0px 10px;
}

.contact_pnl {
    display : flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact_pnl > div p {
    margin:0px 10px 0px 0px;
    text-align: right;
}

hr {
    width: 100%;
    height:8px;
    border: none;
    background-color:black;
    border-end-start-radius: 100%;
    border-start-start-radius: 100%;
}

.body_container {
    display : grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
}
.body_container div > h4 {
    margin: 0px 0px 0px 10px;
}
.body_container div > hr {
    height:1px;
    width: 100%;
    border: none;
    background-color:gray;
    }

.summary_Container {
    display :flex;
    flex-direction: column;
    justify-content: flex-end;
}
.summary_Container p {
    margin: 0px 10px 10px 0px;
}
.education_Container {
    display: flex;
    flex-direction: column;
}
.education_Container_content {
    display: grid;
    grid-template-columns: 85% 15%;
}
.education_Container_content h3,p {
    margin: 0px;
}
#schooling {
    margin: 0px 0px 10px 0px;
}
#years {
    margin: 0px 10px 0px 0px;
    text-align: right;
    font-size: .9em;
}
.skills_Container ul {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px 0px 10px 0px;
}
